/* Nippi Styles */

html, body {
  height:100%;
}

body {
  padding-top: 50px; /* body padding for fixed top nav */
}

.img-home-portfolio,
.img-customer,
.portfolio-item {
  margin-bottom: 30px;
}

.tab-pane {
  margin-top: 15px;
}


/* Page Sections */
.section,
.section-colored {
  margin-top: 20px;
  padding: 0px 0;
}

.section-colored {
  background-color: #e1e1e1; /* change this to change the background color of a colored section */
}
.sectionP {
  margin-top: 10px;
}

.sidebar {
  margin-top: 40px;
}

.sidebar ul {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccccc;
}


/* Social Icons Styles */
.list-social-icons {
  margin-bottom: 45px;
}

.tooltip-social a {
  text-decoration: none;
  color: inherit;
}

.facebook-link a:hover {
  color: #3b5998;
}

.linkedin-link a:hover {
  color: #007fb1;
}

.twitter-link a:hover {
  color: #39a9e0;
}

.google-plus-link a:hover {
  color: #d14836;
}

/* Service Page Styles */
.service-icon {
  font-size: 50px;
}

/* 404 Page Styles */
.error-404 {
  font-size: 8em;
}

/* Pricing Page Styles */
.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}

/* Footer Styles */

.footer_section-colored {
  background-color: #222222;
  margin-top: 20px;
  border-color: #080808;
  color: #ffd700;
  
  } 

.footer_logo {
  float:right;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:0px;
}
#copyRight {
  color: #ff4136;
}
.footer {
  float: right;
  padding-top:60px;
 
}


/* scrollTop */
.go_to_top {
   margin-bottom: 345px;
   position: fixed;
   right: 5px;
   bottom:25px;
   background: #ffffff;
   color: #fff;
   padding: 5px;
   text-decoration: none;
   opacity: .2;
   border-radius: 10px;
   display: none;
}
.go_to_top span {
   display: block;
   font-size: 1.5em;
   text-align: center;
}
.go_to_top:hover {
   opacity: .8;
   box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.tabImage {
   padding:10px;
}
marquee h1{
  color: red;
  margin:0;
}
/* sidebar*/

.ads {
   background-color: #ff4136;
   text-align: center;
   
}
/* login */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 100px;
    height: 60px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
